html, body {
    height: 100%;
}

.brand-logo img {
    max-height: 2em;
}

.content {
    /*margin-top: 3px;*/
    /*margin-bottom: 0.875rem;*/
    /*padding-left: 1.25rem;*/
    /*padding-right: 1.25rem;*/
    float: left;
    width: 100%;
    box-sizing: border-box;
}


.tabs .tab a {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
}

.tab span, nav i.material-icons {
    line-height: 24px;
}
.tab span {
    font-size: 12px;
}

.search-buttons {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    z-index: 5;
}

.reset-btn, .search-btn {
    font-weight: 400;
    padding: .1rem;
    border: none;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.tabs{
    height: auto;
}

.tabs .tab {
    height: auto;
    width: 33%;
}
nav i.material-icons {
    height: auto;
}


.card .card-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    white-space: nowrap;
}

.card .card-content {
    padding: 20px 5px 5px;
}
